/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #f6f8fc;
  color: #333;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  width: 100%;
  background: #1e3a8a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.system-name {
  font-size: 18px;
  font-weight: 600;
}

.nav-center a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-center a:hover,
.nav-center a.active {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bell {
  font-size: 20px;
  cursor: pointer;
}

/* Profile Dropdown */
.profile-dropdown {
  position: relative;
  /* display: inline-block; */
}

.profile-btn {
  background: none;
  border: none;
  color: white;
  /* font-weight: 600; */
  font-size: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  color: #333;
  min-width: 150px;
  /* border-radius: 6px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  /* top: 30px; */
  right: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  /* transition: 0.3s; */
}

.dropdown-content a:hover {
  background: #f0f0f0;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

/* Dashboard */
.dashboard {
  padding: 30px;
}

.dashboard h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #1e3a8a;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Charts */
.charts {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.chart-box {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 420px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.chart-box h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #1e3a8a;
}
